.shift-slider {
  overflow-x: hidden;
  &__wrapper {
    padding: 0;
    width: 100%;
    background: green; //temp
    white-space: nowrap;
    display: inline-flex;
  }
  &__slide {
    float: left;
    padding: 0;
    min-width: 200px;
  }
  &__dots {

  }
  &__progress-bar {

  }
  &__arrow {
    cursor: pointer;
    color: #333333;
    background: rgba(255,255,255,.5);
    border: none;
    padding: 10px;
    margin-right: 3px;
    font-size: 16px;
    &--next {

    }
    &--prev {
      
    }
  }
}